portfolio/src/templates/gallery.pug
.image_slider(slider)
    .side.prev
        .arrow(ng-click="prev($event)")
    .side.next
        .arrow(ng-click="next($event)")
    .imagesWrapper
        .images(ui-view="slider")
            .no_category --- Wybierz kategorie ---

nav.category
    div.title
        div.triangle-left
        span Category
        div.triangle-right

    a(ui-sref="gallery.category({ category: 'digital' })", ng-class="{ active: $state.params.category == 'digital' }")
        p.text Digital Art
        p.background

    a(ui-sref="gallery.category({ category: 'traditional' })", ng-class="{ active: $state.params.category == 'traditional' }")
        p.text Traditional Art
        p.background

    a(ui-sref="gallery.category({ category: 'concept' })", ng-class="{ active: $state.params.category == 'concept' }")
        p.text Concept Art
        p.background

.displayWrapper
    .display(ui-view="display")
        .no_image --- Wybierz obraz ---

portfolio/dist/templates/gallery.html

<div class="image_slider" slider="slider">
  <div class="side prev">
    <div class="arrow" ng-click="prev($event)"></div>
  </div>
  <div class="side next">
    <div class="arrow" ng-click="next($event)"></div>
  </div>
  <div class="imagesWrapper">
    <div class="images" ui-view="slider">
      <div class="no_category">--- Wybierz kategorie ---</div>
    </div>
  </div>
</div>
<nav class="category">
  <div class="title">
    <div class="triangle-left"></div><span>Category</span>
    <div class="triangle-right"></div>
  </div><a ui-sref="gallery.category({ category: 'digital' })" ng-class="{ active: $state.params.category == 'digital' }">
    <p class="text">Digital Art</p>
    <p class="background"></p></a><a ui-sref="gallery.category({ category: 'traditional' })" ng-class="{ active: $state.params.category == 'traditional' }">
    <p class="text">Traditional Art</p>
    <p class="background"></p></a><a ui-sref="gallery.category({ category: 'concept' })" ng-class="{ active: $state.params.category == 'concept' }">
    <p class="text">Concept Art</p>
    <p class="background"></p></a>
</nav>
<div class="displayWrapper">
  <div class="display" ui-view="display">
    <div class="no_image">--- Wybierz obraz ---</div>
  </div>
</div>
