portfolio/src/index.pug
doctype html
html(ng-app="portfolio")
    head
        title Portfolio Anna Kowalska
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        base(href="/demos/portfolio/")
        script(type="text/javascript", src="js/lib/jquery-3.0.0.js")
        script(type="text/javascript", src="js/lib/angular.min.js")
        script(type="text/javascript", src="js/lib/angular-animate.js")
        //script(type="text/javascript", src="js/lib/angular-route.min.js"
        script(type="text/javascript", src="js/lib/angular-ui-router.js")
        script(type="text/javascript", src="js/main.js")

        script document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')
        link(href="css/main.css", rel="stylesheet", type="text/css")
        link(href="css/animations.css", rel="stylesheet", type="text/css")
        link(href="css/medias.css", rel="stylesheet", type="text/css")
    body
        #wrapper
            header
                .author Anna Kowalska
                .portfolio portfolio

            nav.top.clearfix
                ul.clearfix
                    li
                        .triangle
                    li
                        a(ui-sref="gallery") Gallery
                    li
                        a(ui-sref="aboutme") About Me
                    li
                        a(ui-sref="contact") Contact

            .view-container
                .view.clearfix(ui-view)

            .footer_separator
            footer
                div Jakieś informacje w stopce
                div Design by Tikonka

portfolio/dist/index.html
<!DOCTYPE html>
<html ng-app="portfolio">
  <head>
    <title>Portfolio Anna Kowalska</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="/demos/portfolio/">
    <script type="text/javascript" src="js/lib/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="js/lib/angular.min.js"></script>
    <script type="text/javascript" src="js/lib/angular-animate.js"></script>
    <!--script(type="text/javascript", src="js/lib/angular-route.min.js"-->
    <script type="text/javascript" src="js/lib/angular-ui-router.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
    <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
    <link href="css/main.css" rel="stylesheet" type="text/css">
    <link href="css/animations.css" rel="stylesheet" type="text/css">
    <link href="css/medias.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div id="wrapper">
      <header>
        <div class="author">Anna Kowalska</div>
        <div class="portfolio">portfolio</div>
      </header>
      <nav class="top clearfix">
        <ul class="clearfix">
          <li>
            <div class="triangle"></div>
          </li>
          <li><a ui-sref="gallery">Gallery</a></li>
          <li><a ui-sref="aboutme">About Me</a></li>
          <li><a ui-sref="contact">Contact</a></li>
        </ul>
      </nav>
      <div class="view-container">
        <div class="view clearfix" ui-view></div>
      </div>
      <div class="footer_separator"></div>
      <footer>
        <div>Jakieś informacje w stopce</div>
        <div>Design by Tikonka</div>
      </footer>
    </div>
  </body>
</html>
