home-fix/src/index.pug
doctype html
html(ng-app="Homefix")
    head
        title Home Fix
        meta(name="viewport", content="width=device-width, initial-scale=1")
        meta(charset="utf-8")
        link(rel="stylesheet", type="text/css", href="css/bootstrap.css")
        link(rel="stylesheet", type="text/css", href="css/bootstrap-theme.css")
        link(rel="stylesheet", type="text/css", href="css/main.css")
        link(rel="stylesheet", type="text/css", href="css/animations.css")
        script(type="text/javascript", src="js/lib/jquery-3.0.0.js")
        script(type="text/javascript", src="js/lib/jquery.scrollTo.js")
        script(type="text/javascript", src="js/lib/angular.min.js")
        script(type="text/javascript", src="js/lib/angular-animate.js")
        script(type="text/javascript", src="js/app.js")
    body(ng-controller="MainController")
        .container-fluid
            nav#top.row
                .col-md-12
                    .hamburger(ng-click="hamburger=!hamburger")
                    .menu(role="navigation", ng-class="{ active: hamburger }")
                        ul.nav.nav-pills
                            li(role="presentation")
                                a(href="#home", scroll-to="nav#top") Home

                            li(role="presentation")
                                a(href="#works", scroll-to="#works") Works

                            li(role="presentation")
                                a(href="#industries", scroll-to="#industries") Industries

                            li(role="presentation")
                                a(href="#services", scroll-to="#services") Services

                            li(role="presentation")
                                a(href="#news", scroll-to="#blog") News

                            li(role="presentation")
                                a(href="#whoweare", scroll-to="#clients") Who We Are

                            li(role="presentation")
                                a(href="#contact", scroll-to="#footer") Contact

                    .slide-down-wrapper(ng-click="nextSlide(true);")
                        .slide-down
                            .arrow
                    .row(ng-class="{ 'menu-active': hamburger }")
                        .col-lg-6.slide-wrapper(style="padding-left: 0px;")
                            .slides
                                .mini_logo
                                .slide(ng-repeat="slide in slides", ng-if="$index == selectedSlide")
                                    p.top {{ slide.titleTop }}
                                        br
                                        | {{ slide.titleBottom }}
                                    .separator
                                    p.bottom {{ slide.description }}

                        .col-lg-6
                            .pagin
                                .circle(ng-repeat="slide in slides", ng-class="{ active: $index == selectedSlide }", ng-click="changeSlide($index)")
            #clients.row
                .col.col-md-12.clearfix
                    .row
                        .col-lg-2.left
                            p.top Our Clients
                            a.bottom(href="#") View All
                                span.glyphicon.glyphicon-triangle-right

                        .col-lg-10.right
                            .row
                                .col-lg-2.col-md-4.col-sm-6
                                    img(src="images/clients/365app.png")
                                .col-lg-2.col-md-4.col-sm-6
                                    img(src="images/clients/getlicensed.png")
                                .col-lg-2.col-md-4.col-sm-6
                                    img(src="images/clients/hotjobs.png")
                                .clearfix.visible-md-block
                                .col-lg-2.col-md-4.col-sm-6
                                    img(src="images/clients/vng.png")
                                .col-lg-2.col-md-4.col-sm-6
                                    img(src="images/clients/drivemesafely.png")
                                .col-lg-2.col-md-4.col-sm-6
                                    img(src="images/clients/toninguy.png")
            #clients-bottom.row
                .col-lg-12
                    .row
                        .col-lg-6.face
                            img.img-responsive(src="images/clientsguy.png")
                        .col-lg-6.right
                            .text
                                p.top Hello
                                    br
                                    | Lorem ipsum dolor sit amet
                                .separator
                                p.bottom
                                    | Curabitur et dapibus leo. Donec eleifend pharetra sem, et interdum nunc
                                    | semper vel. Sed interdum magna eu faucibus faucibus.
                                    br
                                    | Nulla varius faucibus arcu, eget aliquet tortor sollicitudin ut.
                                    | Interdum et malesuada fames ac ante ipsum primis in faucibus.
                                    | Aliquam sollicitudin felis quis varius porta. Donec sit amet
                                    | diam a elit pulvinar pretium.

                                a.button(href="#") See more about us
            #services.row
                .col-lg-12
                    .row
                        .col-lg-6.left
                            .text
                                p.top Experience
                                    br
                                    | All expert digital services
                                .separator
                                p.bottom.
                                    Maecenas suscipit imperdiet nisi ac hendrerit.
                                    Nam congue felis ac massa rutrum pulvinar.
                                    Donec sodales eros sed efficitur mattis.
                                    Integer tincidunt, felis a placerat maximus,
                                    eros nulla dapibus dui.
                                a.button(href="#") See our services
                        .col-lg-6.right
                            .row
                                .col-md-6
                                    .service
                                        img(src="images/services/webdesign.png")
                                        p Web design &amp; development
                                .col-md-6
                                    .service
                                        img(src="images/services/websecurity.png")
                                        p Web security &amp; optimization
                                .col-md-6
                                    .service
                                        img(src="images/services/digitalmarketing.png")
                                        p Digital Marketing
                                .col-md-6
                                    .service
                                        img(src="images/services/conversion.png")
                                        p Conversion Optimization
            #works.row
                .top.col-lg-12
                    .text
                        p.top Recent Work
                        .separator.center-block
                        p.bottom.
                             Donec sodales eros sed efficitur mattis. Integer tincidunt,
                             felis a placerat maximus, eros nulla dapibus dui, at facilisis enim odio at velit.
                .middle.col-lg-12
                    .row
                        .col-lg-6.tablet
                        .col-lg-6
                            .text
                                p.top CustomerDomain.com
                                p.bottom.
                                    Donec lacus leo, vestibulum et erat eget, viverra posuere est.
                                    Maecenas dapibus mi erat. Duis egestas tempus leo, non euismod velit dictum eu.
                                .address
                                    table
                                        tr
                                            td Client
                                            td :
                                            td Customer
                                        tr
                                            td Location
                                            td :
                                            td U.K
                                        tr
                                            td Services
                                            td :
                                            td Search Engine Optimization
                                        tr
                                            td Website link
                                            td :
                                            td www.CustomerDomain.com
                .bottom.col-lg-12
                    .works.row
                        .col-lg-4.col-md-6
                            .work
                                img(src="images/opportunity.png")
                        .col-lg-4.col-md-6
                            .work
                                img(src="images/ivuvu.png")
                        .col-lg-4.col-md-12
                            .futurethink
                                .image
                                    img(src="images/futurethink.png")
                                span.
                                    Futurethink.com is the professional website which researches and develops
                                    innovation for organizations using a refreshing and simple approach.
                                .link
                                    a(href="#") View details
                    .row
                        .col-lg-12
                            .buttons.clearfix
                                a.prev(href="#")
                                a.show-all(href="#")
                                    span Show All
                                a.next(href="#")
            #industries.row
                .col-lg-12
                    .row
                        .col-lg-6.col-md-12
                            .text
                                .top
                                    .top We focus
                                    .bottom On key industries
                                .separator
                                .bottom.
                                    Donec nulla justo, pharetra in nulla in, lacinia pulvinar nunc rutrum nisi vel nib.
                        .col-lg-3.col-md-4.col-sm-4
                            .industry
                                .image
                                    img(src="images/industries/digitalmarketing.png")
                                .title Digital Marketing
                        .col-lg-3.col-md-4.col-sm-4
                            .industry
                                .image
                                    img(src="images/industries/sportnentertainment.png")
                                .title Sport &amp; Entertainment
                        .col-lg-3.col-md-4.col-sm-4
                            .industry
                                .image
                                    img(src="images/industries/healthnfitness.png")
                                .title Health &amp; Fitness
                        .col-lg-3.col-md-4.col-sm-4
                            .industry
                                .image
                                    img(src="images/industries/lawfirms.png")
                                .title Law firms and real estates
                        .col-lg-3.col-md-4.col-sm-4
                            .industry
                                .image
                                    img(src="images/industries/professionalservices.png")
                                .title Professional Services
                        .col-lg-3.col-md-4.col-sm-4
                            .industry
                                .image
                                    img(src="images/industries/fashionnbeauty.png")
                                .title Fashion &amp; Beauty
                        .col-lg-3.col-md-4.col-sm-4
                            .industry.special
                                .image
                                    img(src="images/industries/foodnbeverage.png")
                                .title Food &amp; Beverage
                        .col-lg-3.col-md-4.col-sm-4
                            .industry
                                .image
                                    img(src="images/industries/gamesncomics.png")
                                .title Games &amp; Comics
                        .col-lg-3.col-md-4.col-sm-4
                            .industry
                                .image
                                    img(src="images/industries/travelnhotels.png")
                                .title Travel &amp; Hotels
                        .col-lg-3.col-lg-offset-0.col-md-4.col-md-offset-4.col-sm-4.col-sm-offset-4
                            .industry
                                a.show-all(href="#") Show All
            #feature.row
                .col-lg-12
                    .row
                        .col-lg-6
                            img.img-responsive.mockup(src="images/mockup2.png")
                        .col-lg-6
                            .text
                                .top
                                    .top Feature
                                    .bottom Marketing Guide
                                .separator
                                .bottom
                                    p.
                                        Etiam vitae dui quis mi pharetra facilisis.
                                        Aenean volutpat nisi dui, vel tempus metus euismod in.
                                        Quisque vitae volutpat nulla. Curabitur cursus leo lacus,
                                        a ullamcorper augue iaculis vel.
                                    p.
                                        Cras in risus vitae leo feugiat lobortis euismod quis dui.
                                        Integer tempor urna quis quam volutpat, non consequat augue iaculis.
                                        Proin malesuada sem sagittis imperdiet rutrum.
                                .buttons.clearfix
                                    a.see-more(href="#") See More
                                    a.download(href="#") Download
            #blog.row
                .col-lg-12
                    .row
                        .col-lg-12
                            .text
                                .top Recent Blog
                                .separator.center-block
                                .bottom.
                                    Donec nulla justo, pharetra in nulla in, lacinia pulvinar nunc.
                                    Nunc rutrum nisi vel nibh cursus, nec vestibulum orci feugiat.
                        .col-lg-4.col-md-6
                            .post
                                .image
                                    img.img-responsive(src="images/blog/post1.png")
                                .title Is there hope for SEO profession?
                                .author Post by
                                    b  Lawrance R. Smith
                                .separator
                                .description.
                                    Donec nulla justo, pharetra in nulla in, lacinia pulvinar nunc.
                                    Nunc rutrum nisi vel nibh cursus, nec vestibulum orci feugiat.
                                    Nunc in luctus lacus. Integer eget dui nisi. Integer mauris lacus.
                                a.read-more(href="#") Read more
                        .col-lg-4.col-md-6
                            .post
                                .image
                                    img.img-responsive(src="images/blog/post2.png")
                                .title Is there hope for SEO profession?
                                .author Post by
                                    b  Esperanza A. Johnson
                                .separator
                                .description.
                                    Donec nulla justo, pharetra in nulla in, lacinia pulvinar nunc.
                                    Nunc rutrum nisi vel nibh cursus, nec vestibulum orci feugiat.
                                    Nunc in luctus lacus. Integer eget dui nisi. Integer mauris lacus.
                                a.read-more(href="#") Read more
                        .col-lg-4.col-lg-offset-0.col-md-6.col-md-offset-3
                            .post
                                .image
                                    img.img-responsive(src="images/blog/post3.png")
                                .title Is there hope for SEO profession?
                                .author Post by
                                    b  Heather R. Williams
                                .separator
                                .description.
                                    Donec nulla justo, pharetra in nulla in, lacinia pulvinar nunc.
                                    Nunc rutrum nisi vel nibh cursus, nec vestibulum orci feugiat.
                                    Nunc in luctus lacus. Integer eget dui nisi. Integer mauris lacus.
                                a.read-more(href="#") Read more
                        .col-lg-12.col-md-12
                            .load-more
                                a(href="#") + Load More
            #footer.row
                .col-lg-12
                    .row
                        .col-lg-3.col-md-6
                            .title.big Agency Creative
                            p © 2015 k3nnyart. All rights reserved.
                            p.link
                                a(href="#") Privacy Policy
                        .col-lg-3.col-md-6
                            .title Address
                            p ABC Agency Creative
                            p 4111 Deer Haven Drive Greenville, SC 29601
                            p Hours: Mon-Fri 9am - 6:00pm
                        .col-lg-3.col-md-6
                            .title Get in touch
                            p Tel: +1 234-567-890
                            p Fax: +1 646-216-9789
                            p Email: info@yourdomain.com
                        .col-lg-3.col-md-6
                            .title Subsribe to our mailing list
                            .mailing
                                .input-group
                                    input(type="text", class="form-control", placeholder="Enter your email here")
                                    span.input-group-btn
                                        button.btn.btn-default
                                            img(src="images/addmail.png")

home-fix/dist/index.html
<!DOCTYPE html>
<html ng-app="Homefix">
  <head>
    <title>Home Fix</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/animations.css">
    <script type="text/javascript" src="js/lib/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="js/lib/jquery.scrollTo.js"></script>
    <script type="text/javascript" src="js/lib/angular.min.js"></script>
    <script type="text/javascript" src="js/lib/angular-animate.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
  </head>
  <body ng-controller="MainController">
    <div class="container-fluid">
      <nav class="row" id="top">
        <div class="col-md-12">
          <div class="hamburger" ng-click="hamburger=!hamburger"></div>
          <div class="menu" role="navigation" ng-class="{ active: hamburger }">
            <ul class="nav nav-pills">
              <li role="presentation"><a href="#home" scroll-to="nav#top">Home</a></li>
              <li role="presentation"><a href="#works" scroll-to="#works">Works</a></li>
              <li role="presentation"><a href="#industries" scroll-to="#industries">Industries</a></li>
              <li role="presentation"><a href="#services" scroll-to="#services">Services</a></li>
              <li role="presentation"><a href="#news" scroll-to="#blog">News</a></li>
              <li role="presentation"><a href="#whoweare" scroll-to="#clients">Who We Are</a></li>
              <li role="presentation"><a href="#contact" scroll-to="#footer">Contact</a></li>
            </ul>
          </div>
          <div class="slide-down-wrapper" ng-click="nextSlide(true);">
            <div class="slide-down">
              <div class="arrow"></div>
            </div>
          </div>
          <div class="row" ng-class="{ 'menu-active': hamburger }">
            <div class="col-lg-6 slide-wrapper" style="padding-left: 0px">
              <div class="slides">
                <div class="mini_logo"></div>
                <div class="slide" ng-repeat="slide in slides" ng-if="$index == selectedSlide">
                  <p class="top">{{ slide.titleTop }}<br>{{ slide.titleBottom }}</p>
                  <div class="separator"></div>
                  <p class="bottom">{{ slide.description }}</p>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="pagin">
                <div class="circle" ng-repeat="slide in slides" ng-class="{ active: $index == selectedSlide }" ng-click="changeSlide($index)"></div>
              </div>
            </div>
          </div>
        </div>
      </nav>
      <div class="row" id="clients">
        <div class="col col-md-12 clearfix">
          <div class="row">
            <div class="col-lg-2 left">
              <p class="top">Our Clients</p><a class="bottom" href="#">View All<span class="glyphicon glyphicon-triangle-right"></span></a>
            </div>
            <div class="col-lg-10 right">
              <div class="row">
                <div class="col-lg-2 col-md-4 col-sm-6"><img src="images/clients/365app.png"></div>
                <div class="col-lg-2 col-md-4 col-sm-6"><img src="images/clients/getlicensed.png"></div>
                <div class="col-lg-2 col-md-4 col-sm-6"><img src="images/clients/hotjobs.png"></div>
                <div class="clearfix visible-md-block"></div>
                <div class="col-lg-2 col-md-4 col-sm-6"><img src="images/clients/vng.png"></div>
                <div class="col-lg-2 col-md-4 col-sm-6"><img src="images/clients/drivemesafely.png"></div>
                <div class="col-lg-2 col-md-4 col-sm-6"><img src="images/clients/toninguy.png"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row" id="clients-bottom">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-6 face"><img class="img-responsive" src="images/clientsguy.png"></div>
            <div class="col-lg-6 right">
              <div class="text">
                <p class="top">Hello<br>Lorem ipsum dolor sit amet</p>
                <div class="separator"></div>
                <p class="bottom">
                  Curabitur et dapibus leo. Donec eleifend pharetra sem, et interdum nunc
                  semper vel. Sed interdum magna eu faucibus faucibus.<br>
                  Nulla varius faucibus arcu, eget aliquet tortor sollicitudin ut.
                  Interdum et malesuada fames ac ante ipsum primis in faucibus.
                  Aliquam sollicitudin felis quis varius porta. Donec sit amet
                  diam a elit pulvinar pretium.
                </p><a class="button" href="#">See more about us</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row" id="services">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-6 left">
              <div class="text">
                <p class="top">Experience<br>All expert digital services</p>
                <div class="separator"></div>
                <p class="bottom">
                  Maecenas suscipit imperdiet nisi ac hendrerit.
                  Nam congue felis ac massa rutrum pulvinar.
                  Donec sodales eros sed efficitur mattis.
                  Integer tincidunt, felis a placerat maximus,
                  eros nulla dapibus dui.
                </p><a class="button" href="#">See our services</a>
              </div>
            </div>
            <div class="col-lg-6 right">
              <div class="row">
                <div class="col-md-6">
                  <div class="service"><img src="images/services/webdesign.png">
                    <p>Web design &amp; development</p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="service"><img src="images/services/websecurity.png">
                    <p>Web security &amp; optimization</p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="service"><img src="images/services/digitalmarketing.png">
                    <p>Digital Marketing</p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="service"><img src="images/services/conversion.png">
                    <p>Conversion Optimization</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row" id="works">
        <div class="top col-lg-12">
          <div class="text">
            <p class="top">Recent Work</p>
            <div class="separator center-block"></div>
            <p class="bottom">
              Donec sodales eros sed efficitur mattis. Integer tincidunt,
              felis a placerat maximus, eros nulla dapibus dui, at facilisis enim odio at velit.
            </p>
          </div>
        </div>
        <div class="middle col-lg-12">
          <div class="row">
            <div class="col-lg-6 tablet"></div>
            <div class="col-lg-6">
              <div class="text">
                <p class="top">CustomerDomain.com</p>
                <p class="bottom">
                  Donec lacus leo, vestibulum et erat eget, viverra posuere est.
                  Maecenas dapibus mi erat. Duis egestas tempus leo, non euismod velit dictum eu.
                </p>
                <div class="address">
                  <table>
                    <tr>
                      <td>Client</td>
                      <td>:</td>
                      <td>Customer</td>
                    </tr>
                    <tr>
                      <td>Location</td>
                      <td>:</td>
                      <td>U.K</td>
                    </tr>
                    <tr>
                      <td>Services</td>
                      <td>:</td>
                      <td>Search Engine Optimization</td>
                    </tr>
                    <tr>
                      <td>Website link</td>
                      <td>:</td>
                      <td>www.CustomerDomain.com</td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="bottom col-lg-12">
          <div class="works row">
            <div class="col-lg-4 col-md-6">
              <div class="work"><img src="images/opportunity.png"></div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="work"><img src="images/ivuvu.png"></div>
            </div>
            <div class="col-lg-4 col-md-12">
              <div class="futurethink">
                <div class="image"><img src="images/futurethink.png"></div><span>
                  Futurethink.com is the professional website which researches and develops
                  innovation for organizations using a refreshing and simple approach.</span>
                <div class="link"><a href="#">View details</a></div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div class="buttons clearfix"><a class="prev" href="#"></a><a class="show-all" href="#"><span>Show All</span></a><a class="next" href="#"></a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="row" id="industries">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-6 col-md-12">
              <div class="text">
                <div class="top">
                  <div class="top">We focus</div>
                  <div class="bottom">On key industries</div>
                </div>
                <div class="separator"></div>
                <div class="bottom">Donec nulla justo, pharetra in nulla in, lacinia pulvinar nunc rutrum nisi vel nib.</div>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-4">
              <div class="industry">
                <div class="image"><img src="images/industries/digitalmarketing.png"></div>
                <div class="title">Digital Marketing</div>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-4">
              <div class="industry">
                <div class="image"><img src="images/industries/sportnentertainment.png"></div>
                <div class="title">Sport &amp; Entertainment</div>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-4">
              <div class="industry">
                <div class="image"><img src="images/industries/healthnfitness.png"></div>
                <div class="title">Health &amp; Fitness</div>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-4">
              <div class="industry">
                <div class="image"><img src="images/industries/lawfirms.png"></div>
                <div class="title">Law firms and real estates</div>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-4">
              <div class="industry">
                <div class="image"><img src="images/industries/professionalservices.png"></div>
                <div class="title">Professional Services</div>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-4">
              <div class="industry">
                <div class="image"><img src="images/industries/fashionnbeauty.png"></div>
                <div class="title">Fashion &amp; Beauty</div>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-4">
              <div class="industry special">
                <div class="image"><img src="images/industries/foodnbeverage.png"></div>
                <div class="title">Food &amp; Beverage</div>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-4">
              <div class="industry">
                <div class="image"><img src="images/industries/gamesncomics.png"></div>
                <div class="title">Games &amp; Comics</div>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-4">
              <div class="industry">
                <div class="image"><img src="images/industries/travelnhotels.png"></div>
                <div class="title">Travel &amp; Hotels</div>
              </div>
            </div>
            <div class="col-lg-3 col-lg-offset-0 col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4">
              <div class="industry"><a class="show-all" href="#">Show All</a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="row" id="feature">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-6"><img class="img-responsive mockup" src="images/mockup2.png"></div>
            <div class="col-lg-6">
              <div class="text">
                <div class="top">
                  <div class="top">Feature</div>
                  <div class="bottom">Marketing Guide</div>
                </div>
                <div class="separator"></div>
                <div class="bottom">
                  <p>
                    Etiam vitae dui quis mi pharetra facilisis.
                    Aenean volutpat nisi dui, vel tempus metus euismod in.
                    Quisque vitae volutpat nulla. Curabitur cursus leo lacus,
                    a ullamcorper augue iaculis vel.
                  </p>
                  <p>
                    Cras in risus vitae leo feugiat lobortis euismod quis dui.
                    Integer tempor urna quis quam volutpat, non consequat augue iaculis.
                    Proin malesuada sem sagittis imperdiet rutrum.
                  </p>
                </div>
                <div class="buttons clearfix"><a class="see-more" href="#">See More</a><a class="download" href="#">Download</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row" id="blog">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-12">
              <div class="text">
                <div class="top">Recent Blog</div>
                <div class="separator center-block"></div>
                <div class="bottom">
                  Donec nulla justo, pharetra in nulla in, lacinia pulvinar nunc.
                  Nunc rutrum nisi vel nibh cursus, nec vestibulum orci feugiat.
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="post">
                <div class="image"><img class="img-responsive" src="images/blog/post1.png"></div>
                <div class="title">Is there hope for SEO profession?</div>
                <div class="author">Post by<b> Lawrance R. Smith</b></div>
                <div class="separator"></div>
                <div class="description">
                  Donec nulla justo, pharetra in nulla in, lacinia pulvinar nunc.
                  Nunc rutrum nisi vel nibh cursus, nec vestibulum orci feugiat.
                  Nunc in luctus lacus. Integer eget dui nisi. Integer mauris lacus.
                </div><a class="read-more" href="#">Read more</a>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="post">
                <div class="image"><img class="img-responsive" src="images/blog/post2.png"></div>
                <div class="title">Is there hope for SEO profession?</div>
                <div class="author">Post by<b> Esperanza A. Johnson</b></div>
                <div class="separator"></div>
                <div class="description">
                  Donec nulla justo, pharetra in nulla in, lacinia pulvinar nunc.
                  Nunc rutrum nisi vel nibh cursus, nec vestibulum orci feugiat.
                  Nunc in luctus lacus. Integer eget dui nisi. Integer mauris lacus.
                </div><a class="read-more" href="#">Read more</a>
              </div>
            </div>
            <div class="col-lg-4 col-lg-offset-0 col-md-6 col-md-offset-3">
              <div class="post">
                <div class="image"><img class="img-responsive" src="images/blog/post3.png"></div>
                <div class="title">Is there hope for SEO profession?</div>
                <div class="author">Post by<b> Heather R. Williams</b></div>
                <div class="separator"></div>
                <div class="description">
                  Donec nulla justo, pharetra in nulla in, lacinia pulvinar nunc.
                  Nunc rutrum nisi vel nibh cursus, nec vestibulum orci feugiat.
                  Nunc in luctus lacus. Integer eget dui nisi. Integer mauris lacus.
                </div><a class="read-more" href="#">Read more</a>
              </div>
            </div>
            <div class="col-lg-12 col-md-12">
              <div class="load-more"><a href="#">+ Load More</a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="row" id="footer">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-3 col-md-6">
              <div class="title big">Agency Creative</div>
              <p>© 2015 k3nnyart. All rights reserved.</p>
              <p class="link"><a href="#">Privacy Policy</a></p>
            </div>
            <div class="col-lg-3 col-md-6">
              <div class="title">Address</div>
              <p>ABC Agency Creative</p>
              <p>4111 Deer Haven Drive Greenville, SC 29601</p>
              <p>Hours: Mon-Fri 9am - 6:00pm</p>
            </div>
            <div class="col-lg-3 col-md-6">
              <div class="title">Get in touch</div>
              <p>Tel: +1 234-567-890</p>
              <p>Fax: +1 646-216-9789</p>
              <p>Email: info@yourdomain.com</p>
            </div>
            <div class="col-lg-3 col-md-6">
              <div class="title">Subsribe to our mailing list</div>
              <div class="mailing">
                <div class="input-group">
                  <input class="form-control" type="text" placeholder="Enter your email here"><span class="input-group-btn">
                    <button class="btn btn-default"><img src="images/addmail.png"></button></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
